@using MongoDB.Driver;
@using MongoDB.Bson;
@using Models
@using TestTask.Components
@using Microsoft.AspNetCore.Mvc;
@using System.ComponentModel.DataAnnotations
@inject IJSRuntime jsRuntime


<EditForm class="formSubstation" Model="substation" id="editForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <label for="substationId" class="labelSubstation">
        Введите Oid организации  
    </label>
    <InputText @bind-Value="substation.Station.OidOrganization" class="inputSubstation"></InputText>
    <label for="stationId" class="labelSubstation">
        Введите PromedId станции        
    </label>
    <InputNumber @bind-Value="substation.Station.PromedId" class="inputSubstation" disabled="@isEditForm"></InputNumber>
    <label for="substationId" class="labelSubstation">
        Введите AdisId станции 
    </label>
    <InputNumber @bind-Value="substation.Station.StationAdisId" class="inputSubstation"></InputNumber>
    <label for="substationNAme" class="labelSubstation">
        Введите название станции
    </label>
    <InputText @bind-Value="substation.Station.StationName" class="inputSubstation" disabled="@isEditForm"></InputText>
    <label for="substationPromedId" class="labelSubstation">
        Введите PromedId подстанции
    </label>
    <InputNumber @bind-Value="substation.SubstationPromedId" class="inputSubstation" disabled="@isEditForm"></InputNumber>
    <label for="substationAdisId"class="labelSubstation">
        Введите AdisId подстанции
    </label>
    <InputNumber @bind-Value="substation.SubstationId" class="inputSubstation"></InputNumber>
    <label for="substationName" class="labelSubstation">
        Введите Название подстанции
    </label>
    <InputText @bind-Value="substation.SubstationName" class="inputSubstation" id="substationName" disabled="@isEditForm"></InputText>
    <div class="modal-footer">
        <button type="button" @onclick="SubmitForm" disabled="@isFormValid" class="btn btnSave">Сохранить</button>
        <button type="button" @onclick="Reset" class="btn btnDelete">Очистить</button>
    </div>
</EditForm>


@code {
    [Parameter]
    public Substation substation { get; set; } = new Substation();
    [Parameter]
    public EventCallback<Substation> OnClickCallback { get; set; }
    [Parameter]
    public bool isEditForm { get; set; } = false;
    bool isFormValid = false;
    DbContext dbContext = new DbContext();

    private void Save()
    {
        OnClickCallback.InvokeAsync(substation);
    }

    private void Reset()
    {
        if (!isEditForm)
            substation = new Substation();
        else
        {
            substation.SubstationId = null;
            substation.Station.OidOrganization = null;
            substation.Station.StationAdisId = null;
        }
    }

    private void SaveWithoutCallback()
    {
        dbContext.SaveOrUpdate(substation);
        Reset();
    }

    public void SubmitForm()
    {
        if (isEditForm)
            Save();
        else
            SaveWithoutCallback();
    }

}
