@using MongoDB.Driver;
@using MongoDB.Bson;
@using Models
@using TestTask.Components
@using Microsoft.AspNetCore.Mvc;
@using System.ComponentModel.DataAnnotations


<h2>Количество записей: @substations.Count</h2>
<table class="table_list">
    <thead>
        <tr class="table_row">
            <td class="col col_head">
                OID_Организации
            </td>
            <td class="col col_head">
                Lpu_ID_Промед
            </td>
            <td class="col col_head">
                Станция_ID_АДИС
            </td>
            <td class="col col_head">
                Name_Станция
            </td>
            <td class="col col_head">
                Подстанция_ID_Промед
            </td>
            <td class="col col_head">
                Подстанция_ID_АДИС
            </td>
            <td class="col col_head">
                Name_Подстанция
            </td>
            <td class="col col_head">
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (Substation substation in substations)
        {

            <tr class="table_row">
                <td class="col">
                    @substation.Station.OidOrganization
                </td>
                <td class="col">
                    @substation.Station.PromedId
                </td>
                <td class="col">
                    @substation.Station.StationAdisId
                </td>
                <td class="col">
                    @substation.Station.StationName
                </td>
                <td class="col">
                    @substation.SubstationPromedId
                </td>
                <td class="col">
                    @substation.SubstationId
                </td>
                <td class="col">
                    @substation.SubstationName
                </td>
                <td class="col" style="text-align:right;">
                    <button @onclick="@(e=> Edit(substation.SubstationPromedId))" class="btn btnEdit btnTable">Редактировать</button>
@*                    <button @onclick="@(e=> Edit(substation.SubstationPromedId))">
                        Редактировать
                    </button>*@
                    <button @onclick="@(e=> Delete(substation.SubstationPromedId))" class="btn btnDelete btnTable">
                        Удалить
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (showDialogWindow)
{
    <div id="openModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Редактирование подстанции</h3>
                    <button @onclick="() => showDialogWindow = false" title="Close" class="close">×</button>
                </div>
                <div class="modal-body">
                    <FormSubstation substation="@substation" isEditForm="@true" OnClickCallback="Save"></FormSubstation>
                </div>
            </div>
        </div>
    </div>

}


@code {
    DbContext dbContext = new DbContext();
    Substation substation = new Substation();
    List<Substation> substations = new List<Substation>();
    bool showDialogWindow = false;
    protected override async Task OnInitializedAsync()
    {
        GetSubstations();
    }
    private void GetSubstations()
    {
        substations = dbContext.GetSubstations();
    }

    private void Save(Substation substation)
    {
        dbContext.SaveOrUpdate(substation);
        Reset();
        GetSubstations();
        showDialogWindow = false;

    }
    private void Reset()
    {
        substation = new Substation();
    }
    private void Edit(int? id)
    {
        substation = dbContext.GetSubstation(id);
        showDialogWindow = true;
    }
    private void Delete(int? id)
    {
        dbContext.Delete(id);
        GetSubstations();
    }
}
